.ChatContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 1.3rem;
}

.ChatDisplayContainer {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
}

.Message {
  margin: 10px 0;
  padding: 0;
  max-width: 100%;
  font-size: 14px;
  text-align: left;
}

.Message .Sender {
  font-weight: bold;
  margin-bottom: 2px;
}

.Message.user .Sender {
  color: var(--user-text-color, #000);
}

.Message.ai .Sender {
  color: var(--ai-text-color, #555);
}

.Message.user p,
.Message.ai p {
  margin: 0;
}

.ChatInputContainer {
  position: relative;
  display: flex;
  width: 100%;
}

.AskAIInput {
  width: 100%;
  height: 60px; /* Adjusted height */
  padding: 12px 50px 12px 12px; /* Adjusted padding for better button placement */
  font-size: 14px;
  border-radius: 12px;
  background-color: var(--textarea-bg-color);
  color: var(--textarea-text-color);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
  resize: none;
  box-sizing: border-box;
}

.SubmitButton {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #007bff; /* Button background color */
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SubmitButton svg {
  height: 18px;
  width: 18px;
  color: #ffffff; /* Icon color */
}
